body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #673AB7;
  color: #FFF;
  text-align: left;
}

img {
  border: 5px solid #FFF;
  border-radius: 3px;
  max-width: 100%;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

a {
  color: #FF9800;
}

a:hover {
  color: #FFEB3B;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.form {
  margin-top: -16px;
}
