body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #673AB7;
  color: #FFF;
  text-align: center;
}

img {
  border: 5px solid #FFF;
  border-radius: 3px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.form {
  margin-top: -22px;
}
